__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.eggs/

.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/

*.png
!docs/*.png
*.bin
addresses.csv
addr.csv

.vscode/
.idea/
*.swp
.DS_Store
